.artistContainer{
    background-color: #222;
    color: #fff;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 80px;

    .right{
        justify-self: end;
        @media(max-width: 1000px){
            justify-self: center;
        }
    }
}