.nav{
    padding: 0px 100px;
    background-color:#0B0B0B;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;

    .navItems{
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        font-weight: 600;
        .navItem{
            text-transform: uppercase;
        }
    }
}