.footer {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    gap: 100px;
    width: 100%;
    color: white;
    background-color: black;
    @media (max-width: 1375px) {
        grid-template-columns: 1fr;
    }

    .imageWrapper {
        .image {
            width: 100%;
        }
    }

    
    
    h1 {
        font-weight: 600;
        size: 22px;
        line-height: 33px;
        padding-bottom: 20px;
    }
   
}

.copyright{
    text-align: center;
    padding: 10px 0;
}

li{
        
    list-style: none;
}
